<section class="{{prefix}}-ask">
	<form class="" id="{{prefix}}-form-{{form_data.id}}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="form-box bg-white">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="top">
										<h2 class="title">Do you have any question?</h2>
										<p class="text-center">If your question is not answered above, we're happy to help.</p>
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<div class="control input-control">
										<input type="text" name="firstname" id="firstname" required />
										<div class="floating-label">{{form_data.firstname_label}}</div>
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<div class="control input-control">
										<input type="text" name="lastname" id="lastname" required />
										<div class="floating-label">{{form_data.lastname_label}}</div>
									</div>
								</div>
								<div class="col-12">
									<div class="control input-control">
										<input type="email" name="email" id="email" required />
										<div class="floating-label">{{form_data.email_label}}</div>
									</div>
								</div>
								<div class="col-12">
									<div class="control textarea-control">
										<textarea class="textarea" name="message" id="message" required></textarea>
										<div class="floating-label">{{form_data.message_label}}</div>
									</div>
								</div>
								<div class="col-12">
									<button type="submit">{{form_data.submit_button_text}}</button>
								</div>
								<div class="message col-12 text-center" style="display: none;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
