<section class="{{prefix}}-sponsors">
	<div class="container">
		<div class="row sponsors-row">
			<div class="col-12">
				<p class="sponsors-header">Special Thanks to Our Sponsors</p>
				<hr>
				<div class="logo-container">
					{{#each data.sponsors}}
					<img src="{{img}}" width="{{width}}" alt="{{title}}">
					{{/each}}
				</div>
			</div>
		</div>
		<div class="row partners-row">
			<div class="col-12">
				<p class="partners-header">Media Partners</p>
				<div class="logo-container">
					{{#each data.partners}}
					<a href="{{link}}" title="{{title}}" target="_blank"><img src="{{img}}" width="{{width}}" alt="{{title}}"></a>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</section>
