<section class="{{prefix}}-subscribe">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<img src="assets/images/icon-logo.svg" class="img-fluid" />
				<h4>{{data.header}}</h4>
				<p>{{data.text}}</p>
				<form id="{{prefix}}-subscribe-form" class="form-inline" name="{{prefix}}-subscribe-form">
					<div class="input-group col-9 mx-auto">
						<input type="text" class="form-control" placeholder="Enter your email" name="email_address" id="email_address" />
						<span class="input-group-btn">
							<button class="btn {{prefix}}-subscribe-btn my-auto" type="submit"><img
									src="assets/images/envelop-icon.svg" /></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
