<div class="{{prefix}}-page {{prefix}}-page-single">
	<div class="container">
		<div class="{{prefix}}-page-title mb-4">
			<h4>{{data.post_title}}</h4>
			<input type="hidden" id="{{prefix}}-current-url" value="{{data.post_url}}">
		</div>
	</div>

	<div class="shape">
		{{#each data.content}}
			{{#if title}}
				<section class="{{prefix}}-page-headline">
					<div class="container">
						<div class="{{prefix}}-page-content d-flex align-items-center">
							<div class="content-inner pb-0 w-100">
								<h5>{{ title }}</h5>
							</div>
						</div>
					</div>
				</section>
			{{else if content}}
				<section class="{{prefix}}-page-paragraf">
					<div class="container">
						<div class="{{prefix}}-page-content d-flex align-items-center">
							<div class="content-inner w-100">
								{{{ content }}}
							</div>
						</div>
					</div>
				</section>
			{{else}}
				<section class="{{prefix}}-page-list-block">
					<div class="container">
						<div class="{{prefix}}-page-content d-flex align-items-center">
							<div class="content-inner pt-0 pb-0">
								{{{ list }}}
							</div>
						</div>
					</div>
				</section>
			{{/if}}
		{{/each}}
	</div>
</div>
